@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

@font-face {
    font-family: Manrope;
    src: url(fonts/Manrope-Regular.ttf);
}

* {
    border: 0px solid red;
}

body {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    font-family: Manrope, sans-serif;
    --hero-side-width: 35vw;
    --form-side-width: calc(100vw - var(--hero-side-width));
}

.hero-side {
    width: var(--hero-side-width);
    height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.hero-side > .odin {
    display: flex;
    justify-content: center;
    background-color: #00000090;
    padding: 1.25rem;
    margin-top: 30%;
    margin-bottom: auto;
}

.hero-side > .text-img-source {
    text-align: center;
}

.odin-icon {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 5rem;
}

.odin-text {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 5rem;
    font-family: Norse-Bold, sans-serif;
}

.form-side {
    width: var(--form-side-width);
    height: 100vh;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
}

.form-side > div {
    padding: 2rem;
}

.form-side > .title-text {
    font-size: 1.2rem;
}

.form-side > .user-forms {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 10px;
}

.form-side > .user-forms > .form-title {
    margin-bottom: 1rem;
}

.form-side > .user-forms > form {
    display: flex;
    flex-wrap: wrap;
}

.form-side > .user-forms > form > div {
    width: 49%;
}

.user-forms label {
    font-size: 1rem;
}

.user-forms input {
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    margin-top: 3px;
    margin-bottom: 3px;
    outline: none;
}

.user-forms .err-msg {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
    padding: 0;
    color: red;
}

.user-forms input:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid lightskyblue;
}

.user-forms input:focus:invalid {
    border: 1px solid lightskyblue;
}

.user-forms input:invalid {
    border: 1px solid red;
}

.form-side button[type='submit'] {
    padding: 0.6rem 1.2rem;
    font-size: inherit;
    background-color: rgb(108 157 197);
    border: 0px;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-side button[type='submit']:hover {
    background-color: rgb(84, 120, 150);
    cursor: pointer;
}

.form-side > .footer a.login {
    text-decoration: none;
    color:rgb(108 157 197);
}