@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

@font-face {
    font-family: Manrope;
    src: url(fonts/Manrope-Regular.ttf);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    font-family: Manrope, sans-serif;
    --hero-side-width: 35vw;
    --form-side-width: calc(100vw - var(--hero-side-width));
}

.main * {
    box-sizing: border-box;
}

.hero-side {
    width: var(--hero-side-width);
    height: 100vh;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.hero-side > .odin {
    display: flex;
    justify-content: center;
    background-color: #00000090;
    padding: 3vh;
    margin-top: 15vh;
    margin-bottom: auto;
}

.hero-side > .text-img-source {
    text-align: center;
    font-size: 0.9rem;
}

.hero-side > .text-img-source a:hover {
    text-decoration: underline;
}

.odin-icon {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 5rem;
}

.odin-text {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 5rem;
    font-family: Norse-Bold, sans-serif;
}

.form-side {
    width: var(--form-side-width);
    height: 100vh;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.1rem;
}

@media (max-height: 680px) {
    .form-side {
        justify-content: flex-start;
    }
    .hero-side {
        height: 690px;
    }
}

@media (max-width: 790px) {
    .main {
        flex-direction: column;
        --hero-side-width: 100%;
        --form-side-width: 100%;
    }
    .hero-side {
        height: 100vh;
    }
    .hero-side > .odin {
        margin-top: auto;
    }
    .form-side {
        justify-content: flex-start;
    }
    .form-side .user-forms > form {
        flex-direction: column;
    }
    .form-side > .user-forms > form > div.inp {
        width: 100%;
    }
    .user-forms form > div > input {
        width: 100%;
        box-sizing: border-box;
    }
    .main > .form-side > div:first-child {
        padding: 2rem;
    }
    .form-side .title-text,
    .form-side .form-title,
    .form-side .footer {
        text-align: center;
    }
}

.form-side > div {
    padding: 1.5rem 2rem 1.5rem;
}

.form-side > .title-text {
    font-size: 1.2rem;
}

.form-side > .user-forms {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 5px 10px;
}

.user-forms > .form-title {
    font-size: 1.2rem;
}

.user-forms > form {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 1rem;
}

.user-forms > form > div {
    width: 50%;
    margin-bottom: 1.2rem;
}

.user-forms label {
    font-size: 1rem;
}

.user-forms input {
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 90%;
    padding: 0.6rem;
    font-size: 0.9rem;
    font-family: inherit;
    margin: 0;
    outline: none;
}

.user-forms .error {
    font-size: 0.7rem;
    margin-top: 0;
    margin-bottom: 0.3rem;
    padding: 0;
    color: red;
    position: absolute;
}

.user-forms input:focus {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid lightskyblue;
}

.user-forms input:focus:invalid {
    border: 1px solid lightskyblue;
}

.form-side button[type='submit'] {
    padding: 0.6rem 1.2rem;
    font-size: inherit;
    background-color: rgb(108 157 197);
    border: 0px;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.form-side button[type='submit']:hover {
    background-color: rgb(84, 120, 150);
    cursor: pointer;
}

.form-side > .footer a.login {
    color:rgb(108 157 197);
}